* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.standings {
  border-collapse: collapse;
}

.standings th, td {
  border: solid 1px black;
  padding: 5px;
}

.team {
  margin: 10px;
}

.winner {
  background: green;
}

.loser {
  background: red;
}

.inputButton {
  padding: 4px;
}