img {
  width: 100px;
}

.profile-image {
  border: solid 1px black;
  width: 100px;
  position: absolute;
  top: 0px;
}

.background-image {
  background-color: #35434E;
  height: 200px;
}

.content {
  background-color: red;
  height: 400px;
}